html,
body,
#root,
canvas {
  height: 150%;
  margin: 100%;
  padding: 0;
  margin: 0;
  font-family: "Audiowide", cursive;
}

.canvasCont {
  background-color: black;
}
/* headerMsg
canvasCont
timerContnr
bottmCont */
/* @media only screen and (max-width: 600px) {
  .canvasCont {
    justify-content: space-around;
    align-items: flex-start;
  }

  .headerMsg {
    margin-top: 1%;
    margin-bottom: 1%;
  }
} */
