.loadMain {
  background-color: rgba(34, 30, 40, 0.954);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  padding-top: 50%;
  align-items: center;
  z-index: -1;
}

.loadTextTop,
.loadTextBttm {
  color: white;
}
